#!/usr/bin/make -f
# -*- makefile -*-

#export DH_VERBOSE=1


configure: configure-stamp
configure-stamp:
	dh_testdir

	touch configure-stamp


build: build-stamp

build-stamp: configure-stamp 
	dh_testdir

	$(MAKE)

	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	[ ! -f Makefile ] || $(MAKE) clean

	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	$(MAKE) DESTDIR=$(CURDIR)/debian/iplist install


binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs changelog
	dh_installdocs
	dh_installexamples ipblock.conf ipblock.lists allow.p2p
	dh_install
#	dh_installlogrotate
	dh_installinit --no-start --name=ipblock --  start 99 2 3 4 5 . stop 00 0 1 6 .
	dh_installcron --name=ipblock
	dh_installifupdown --name=ipblock
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_desktop
	dh_icons
	dh_fixperms 
#	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
